.idea/
.vscode/
build
.DS_Store
*.tgz
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
.ipynb_checkpoints/
yarn.lock
react-app-env.d.ts

#middlewares
assets/

#compiled ecmascript files from ts
*/*/dist/*
!*/*/dist/src
# don't ignore a const .py file under 'aaclash' folder
!*/*/dist/aaclash
*/*/dist/aaclash/*
!*/*/dist/aaclash/program_paths.py

#dependencies
node_modules/

#documents
preliminary/
*.docx
*.doc 
*.pdf
*.txt
extra_assets
*.pdb

# 3Dmol and JSmol scripts
*3Dmol-min.js
*JSmol

# authentication
*Secrets.ts