.mol-comp, .jmol-selections, .mol3d-selections {
  width: auto;
  height: auto;
  overflow: scroll;
}
.mol-comp {
  display: flex;
  width: 100vw;
  border-bottom: 2px solid #919191;
}

.mol-wrapper {
  margin: 0;
  width: auto;
  height: 760px;
}
#jsmol-div, #mol3D-div {
  margin: 0 auto 0 0;
  width: 720px;
  height: 760px;
  background-color: #fff8f9;
  overflow: hidden;
} 
.mol3dNav:hover, .jsmolNav:hover {
  background-color: #198396;
}
.mol-container {
  position: relative;
  height: 720px;
  width: 720px;
}

.molOptionsList, .molIndpOptionsList {
  overflow: hidden scroll;
  height: 100%;
  background-color: #2f3f4f;
  color: white;
  min-width: 400px;
  max-width: 400px;
  padding: 0;
}
.molIndpOptionsList {
  min-width: 320px;
  max-width: 320px;
  padding: 0;
}
.aaPosSubGoodItem, .aaPosSubBadItem, .aaPosSubIndpItem, .aaPosSubMutatedItem {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  cursor: pointer;
}
.aaPosSubGoodItem { color: #90ee90 }
.aaPosSubBadItem { color: #ff4500 }
.aaPosSubIndpItem { color: #ffffff }
.aaPosSubMutatedItem { color: #FFFF33 }




