.mol-comp, .jmol-selections, .mol3d-selections {
  width: auto;
  height: 47.5rem;
  overflow: scroll;
}
.mol-comp {
  display: flex;
  width: 100vw;
  border-bottom: 2px solid #919191;
}

#jsmol-div, #mol3D-div {
  margin: 0 auto;
  margin-right: 8px;
  width: 720px;
  height: 760px;
  background-color: #e2f4f4;
} 
#mol3D-div {
  background-color: #e0e0e0;
}
.mol3dNav:hover, .jsmolNav:hover {
  background-color: #198396;
}
.mol-container {
  position: relative;
  height: 720px;
  width: 720px;
}


