.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-nav-icon {
  margin-right: 5px;
}

.App-body-col1 {
  background-color: #2f3f4f;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body-col2 {
  background-color: #2f3f4f;
  min-height: 150px;
  padding-top: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AaClash-err {
  background-color: #2f3f4f;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(11px + 1vmin);
  color: pink;
  padding: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.molBtn {
  margin: 0.375rem auto;
}

.mol-div {
  margin: 2rem auto;
  text-align: center;
}

.mol-container {
  position: relative;
  margin: 0rem auto;
  height: 500px;
}

