.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-col1 {
  background-color: #2f3f4f;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-col2 {
  background-color: #2f3f4f;
  min-height: 150px;
  padding-top: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AaClash-err {
  background-color: #2f3f4f;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(11px + 1vmin);
  color: pink;
  padding: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.molBtn {
  margin: 0.375rem auto;
}

.mol-div {
  margin: 2rem auto;
  text-align: center;
}

.mol-container {
  position: relative;
  margin: 0rem auto;
  height: 500px;
}

#pdb-input {
  margin: 2rem;
  width: 220px;
  height: 50px;
  font-size: 1rem;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.9rem;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.9rem;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 0.9rem;
}
:-moz-placeholder {
  /* Firefox 18- */

  font-size: 0.9rem;
}

#pdb-input::-webkit-input-placeholder {
  color: pink;
}

#pdb-submit {
  margin-bottom: 1rem;
  width: 135px;
  height: 45px;
}

#pdb-clear {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

@media only screen and (max-width: 600px) {
  #pdb-input {
    width: 120px;
    height: 30px;
  }

  #pdb-submit {
    width: 120px;
    height: 40px;
  }
}
