.rcsb-gql-div, .rcsb-gql-info, .pdb-query-list {
  width: auto;
  height: 40rem;
  overflow: visible scroll;
}

.rcsb-gql-div {
  display: flex;
  width: 100vw;
  border-bottom: 2px solid #919191;
}

.rcsb-info-header {
  margin: 0.5rem auto;
}

.rcsb-loading-or-error {
  padding: 2rem;
}

.pdb-query-list {
    background-color:	#C0C0C0;
    min-width: 220px;
    max-width: 220px;
    padding-left: 8px;
    padding-right: 8px;
}

.pdb-query-ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.pdb-query-item, .pdb-query-item-selected {
    font-size: 18px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid #919191;
    border-bottom: 1px solid #919191;
    cursor: pointer;
  }

.pdb-query-item-selected {
  background-color: #d8d8d8
}

.deletion-fa-icon {
  height: auto;
  float: right;
  margin-top: 3px;
  margin-right: 0.5rem;
  margin-left: 0;
}

.pdb-id-span, .extra-pdb-id-span {
  margin-left: 10%;
}
