.pdb-query-list {
    height: 100vh;
    overflow: hidden auto;
    background-color: #ececec;
    min-width: 150px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

.pdb-query-ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.pdb-query-item, .pdb-query-item-selected {
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #919191;
    cursor: pointer;
  }

.pdb-query-item-selected {
  background-color: #bab0cb
}

.deletion-fa-icon {
  height: auto;
  float: right;
  margin-top: 3px;
  margin-right: 0.5rem;
  margin-left: 0;
}

.pdb-id-span {
  margin-left: 10%;
}

.rcsb-gql-div {
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 300px;
    overflow: hidden;
}

.rcsb-info-header {
  margin: 1rem auto;
}

.rcsb-loading-or-error {
  padding: 2rem;
}