.pdb-query-list {
    height: auto;
    overflow: hidden auto;
    background-color: #ececec;
    min-width: 150px;
    width: 25vw;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

.pdb-query-ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.pdb-query-item, .pdb-query-item-selected {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #919191;
    cursor: pointer;
  }

  .pdb-query-item-selected {
    background-color: #bab0cb
  }

.rcsb-gql-div {
    display: flex;
    width: 100vw;
    height: auto;
    min-height: 300px;
    overflow: hidden;
}

.rcsb-info-header {
  margin: 1rem auto;
}

.rcsb-loading-or-error {
  padding: 2rem;
}