.App {
  text-align: center;
}

/* for HeaderComponent */
.sticky-wrapper {
  position: relative;
  height: auto; 
  margin-bottom: 62px /* We need to change this value */
}
/* for HeaderNavbar */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.App-header-nav-icon {
  margin-right: 5px;
}

/* for MainComponent */
.App-body-col1, .App-body-col2  {
  background-color: #2f3f4f;
  color: white;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-body-col2 {  
  display: inline-block;
  padding-top: 1.5rem;
  font-size: calc(8px + 1.5vmin);
}

.AaClash-result {
  background-color: #2f3f4f;
  color: white;
  min-height: 30rem;
  max-height: 30rem;
  display: flex;
  padding: 0;
  font-size: 16px;
  text-align: left; 
  margin-top: 1px;
  font-size: 18px;
  width: 100vw;
}

/* for pdbQueryList in both MolComponent and RcsbGqlComponent */
.pdb-query-list {
  background-color:	#C0C0C0;
  min-width: 184px;
  max-width: 184px;
  padding-left: 4px;
  padding-right: 4px;
  overflow: hidden scroll;
}

.pdb-query-ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pdb-query-item, .pdb-query-item-selected {
  font-size: 18px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
  cursor: pointer;
}

.pdb-query-item-selected {
  background-color: #d8d8d8
}

.deletion-fa-icon {
  height: auto;
  float: right;
  margin-top: 3px;
  margin-right: 0.5rem;
  margin-left: 0;
}

.pdb-id-span, .extra-pdb-id-span {
  margin-left: 10%;
}